.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.todo
.vs
package-lock.json
.editorconfig
.npmrc
.gitattributes

node_modules
webpack.config.js
scripts

dist/extension.js.LICENSE.txt
LICENSE
docs

img/*.*
!img/icon.png